
.papeleria {
    background: var(--color-acento);
    color: var(--color-claro) !important;
}

.contenedorIntroduccion {
    width: 95%;
    margin: 0 auto 2%;
}

.intro {
    background: #f7e9dc;
    border-radius: 18px;
    padding: 2%;
    line-height: 1.7;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}

.productos {
    margin-top: 2.5em;
}

.productos h2 {
    margin-bottom: 1.5em;
}

/*Grid para las tarjetas de productos*/
.grid-productos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
}

.producto {
    background: var(--color-claro);
    border-radius: 18px;
    padding: 6%;
    text-align: center;
    /*Transición para un hover que va a hacer que se agrande un poco y tener sombra*/
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/*Aquí voy a poner un pseudoelemento para que ponga nuevo*/
.grid-productos .producto:nth-child(1)::before {
    content: "NUEVO";
    display: inline-block;
    margin-bottom: 3%;
    padding: 5%;
    font-size: 60%;
    background: var(--color-acento);
    color: var(--color-claro);
}

.producto img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10%;
    display: block;
}

/*Hover con la trasición de antes*/
.producto:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px var(--color-acento);
}

@media (max-width: 800px) {
    .intro,
    .productos {
        text-align: center;
    }

    .producto {
        background: var(--color-claro);
        border-radius: 18px;
        padding: 6%;
        text-align: center;
        /*Transición para un hover que va a hacer que se agrande un poco y tener sombra*/
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        width: 110%;
    }
}
